/* __________fonctionnalitées fondamentales________________ */
@media screen and (max-width: 3840px){
    body {
        max-width: 100%;
        background-color: RGB(199, 178, 153);
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        
    }
    aside{
        margin: 0;
        padding: 0;
        border: 0;
        max-width: 100%;
    }
    .menu ul{
        margin: 0;
    }
    footer{
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        max-width: 100%;
    }
    p{
        margin: 0;
        border: 0;
        padding: 0;

    }
    a{
        margin: 0;
        border: 0;
        padding: 0;
        text-decoration: none;
    }
    /* _________________end fonctionnalitées fondamentales_____ */
    /* _______________________head banner_____________________ */
    .banner{
        display: flex;
        max-width: 100%;
        background-color: RGB(85, 48, 25);
    }
    .headerbanner{
        margin-left: 18%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .remise{
        
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 700;

    }
    .menuheader{
        margin-left: 20%;
        margin-top: 1%;

    }
    #compte{
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    .fas{
        color: #fff;
    }
    #panier{
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    /* ____________________end head banner_____________________________ */
    /* ____________________affichage principal_________________________ */
    .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 510px;
    max-width: 100%;
    }
    .container{
        background-color: #fff;
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 0%;
    }
    /* ___________________________menu_________________________________ */
    .menu{
        background-color: RGB(170, 123, 81);
        text-align: center;
        margin-bottom: 3%;
    }
    #nav{
        background-color: RGB(170, 123, 81);
        text-align: center;
        margin-bottom: 3%;
    }
    #nav > a{
        display: none;
    }
    #nav li{
        position: relative;
        font-size: 24px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        list-style: none;
        
    }
    #nav a{
        font-size: 24px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    #nav > ul{
        height: 3.75em;
    }
    #nav > ul > li{
        width: 25%;
        height: 100%;
        float: left;
    }
    #nav li ul{
    display: none;
    position: absolute;
    top: 100%;
    }
    #nav li:hover ul{
        display: block;
    }
    /* _______________________end menu____________________________ */
    /* _______________________contenu principal___________________ */
    .main{
        display: flex;
        max-width: 90%;
        margin-left: 6%;
        margin-right: 6%;
        border-bottom: 1px #DCDCDC solid;
    }
    .left{
        margin-top: 3%;
        margin-bottom: 0%;
    }
    .right{
        margin-top: 3%;
        margin-left: 10%;
        margin-bottom: 0%;
    }
    .torrefie{
        height: 230px;
        width: 450px;
        max-width: 100%;
        max-height: 100%;

    }
    .tasse{
        height: 230px;
        width: 450px;
        max-width: 100%;
        max-height: 100%;
    }
    .grain{
        text-align: center;
        font-size: 27px;
        color: #000;
        font-family: Roboto-Slab;
        font-weight: 700;
        margin-top: 1%;
    }
    /* _______________________end contenue principal_______________ */
    /* __________________________middle contents___________________ */
    .middle{
        display: flex;
        max-width: 95%;
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: 1px #DCDCDC solid;
    }
    .leftmiddle{
        margin-top: 3%;
        margin-left: 6%;
        margin-bottom: 0%;
    }
    .rightmiddle{
        margin-top: 3%;
        margin-left: 9%;
        margin-bottom: 0%;
    }
    .top{
        font-size: 62px;
        color: #000000;
        font-family: "Roboto Slab";
        font-weight: 700;
        text-align: center;
        margin-bottom: 0%;
        margin-top: 4%;
    }
    .textbottom{
        margin-top: 0%;
        margin-bottom: 2%;
        font-size: 76px;
        color: #aa7b51;
        font-family: "Roboto Slab";
        font-weight: 700;
    }
    .textop{
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        font-size: 15px;
        color: #000000;
        font-family: "Open Sans";
        font-weight: 400;
        margin-bottom: 2%;
    }
    #decouvrez{
        background-color: RGB(170, 123, 81);
        color: #fff;
        font-size: 20px;
        font-family: Roboto-Slab;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4%;
    }
    /* _______________________end middle contents_________________ */
    /* _________________________bottom contents___________________ */
    .bottom{
        margin-top: 2%;
        display: flex;
        max-width: 100%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 0%;
    }
    .leftbottom{
        margin-bottom: 0%;
    }
    .middlebottom{
        margin-left: 1%;
        margin-bottom: 0%;
    }
    .rightbottom{
        margin-left: 1%;
        margin-bottom: 0%;
    }
    .imgbottom{
        height: 190px;
        width: 450px;
        max-width: 100%;
        max-height: 100%;
    }
    .parabottom{
        font-size: 19px;
        color: #000000;
        font-family: Roboto-Slab;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10%;
    }
    /* _______________________end bottom contents__________________ */
    /* _______________________end affichage principal_____________ */
    /* ____________________________footer_________________________ */
    .footer{
        background-color: RGB(170, 123, 81);
        text-align: center;
    }
    #menu, #menu a{
        font-size: 24px;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center; 
        color: #fff;
    } 
    #menu>li {
        display:inline-block;
        margin-left:6%;
        list-style: none;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    #menu li{
        list-style: none;
    }
    #menu a:hover{
        color: #000;
        background-color: #fff;
    }
    nav ul ul {
        
        visibility: hidden;
        position: absolute;
        background-color: RGB(170, 123, 81);
        text-align: center;
        z-index: 1000;
    }
    nav ul ul  li{
        padding:10px 40px 10px 0px;
        width: 80px;
    }
    nav ul li:hover ul {
        visibility: visible;
    }
    .supp{
        margin-top: 2%;
        display: flex;
        max-width: 100%;
        margin-left: 45%;
        margin-right: 0%;
    }
    .endl{
        margin-bottom: 5%;
    }
    .endr{
        margin-left: 1%;
        margin-bottom: 5%;

    }
    #mention{
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center;
    
    }
    #Mocha{
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center;    
    }
    /* ___________________________end footer______________________ */
}
@media screen and (max-width: 1080px){
    body, aside, .menu, footer, p {
        max-width: 100%;
        margin: auto;
        padding: auto;
        border: auto;
        font-size: 100%;
        vertical-align: baseline;
        text-decoration: none;
    }
 
    .headerbanner, .menu, .container, a{
        padding: 0;
        margin: 0;
        border: 0;
    }
    /* _________________end fonctionnalitées fondamentales_____ */
    /* _______________________head banner_____________________ */
    .banner{
        display: block;
        background-color: none;
    }
    .headerbanner{
        background-color: RGB(170, 123, 81);
        max-width: 100%;
        text-align: center;

    }
    .remise{
        
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 700;

    }
    .menuheader{
        margin-top: 3%;
        text-align: center;

    }
    #compte{
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    .fas{
        color: #fff;
    }
    #panier{
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    /* ____________________end head banner_____________________________ */
    /* ____________________affichage principal_________________________ */
 
    .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 510px;
    max-width: 100%;
    }
    .container{
        background-color: #fff;
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 0%;
        max-width: 100%;

    }
    /* ___________________________menu_________________________________ */

    .menu{
        background-color: RGB(170, 123, 81);
        text-align: center;
        margin-bottom: 3%;
        

    }
    #nav{
        position: relative;
    }
    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type{
        display: block;
        background-color: RGB(170, 123, 81);
    }     
    #nav a{
        font-size: 24px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    #nav > ul{
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
    #nav:target > ul{
        display: block;
    }
    #nav > ul > li{
        width: 100%;
        float: none;
    }   
    #nav li ul
    {
        position: static;
    }
    /* _______________________end menu____________________________ */
    /* _______________________contenu principal___________________ */
    .main{
        display: block;
        max-width: 95%;
        margin-left: 6%;
        margin-right: 6%;
        border-bottom: 1px #DCDCDC solid;
    }
    .left{
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: 8%;
    }
    .right{
        margin-top: 3%;
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .torrefie{
        height: 230px;
        width: 450px;
        max-width: 100%;
        max-height: 100%;

    }
    .tasse{
        height: 230px;
        width: 450px;
        max-width: 100%;
        max-height: 100%;
    }
    .grain{
        text-align: center;
        font-size: 27px;
        color: #000;
        font-family: Roboto-Slab;
        font-weight: 700;
        margin-top: 1%;
    }
    /* _______________________end contenue principal_______________ */
    /* __________________________middle contents___________________ */
    .middle{
        display: block;
        max-width: 95%;
        margin-left: 3%;
        margin-right: 5%;
        border-bottom: 1px #DCDCDC solid;
    }
    .leftmiddle{
        margin-top: 8%;
        margin-left: 1%;
        margin-bottom: 0%;
    }
    .rightmiddle{
        margin-top: 3%;
        margin-left: 4%;
        margin-bottom: 0%;
    }
    .top{
        font-size: 62px;
        color: #000000;
        font-family: "Roboto Slab";
        font-weight: 700;
        text-align: center;
    }
    .textbottom{
        margin-bottom: 2%;
        font-size: 76px;
        color: #aa7b51;
        font-family: "Roboto Slab";
        font-weight: 700;
        text-align: center;
    }
    .textop{
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        font-size: 15px;
        color: #000000;
        font-family: "Open Sans";
        font-weight: 400;
        margin-bottom: 2%;
    }
    #decouvrez{
        background-color: RGB(170, 123, 81);
        color: #fff;
        font-size: 20px;
        font-family: Roboto-Slab;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4%;
    }
    /* _______________________end middle contents_________________ */
    /* _________________________bottom contents___________________ */
    .bottom{
        margin-top: 2%;
        display: block;
        max-width: 100%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 0%;
    }
    .leftbottom{
        margin-bottom: 0%;
        margin-left: 8%;
    }
    .middlebottom{
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .rightbottom{
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .imgbottom{
        height: 190px;
        width: 450px;
        max-width: 100%;
        max-height: 100%;
    }
    .parabottom{
        font-size: 19px;
        color: #000000;
        font-family: Roboto-Slab;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0%;
    }
    /* _______________________end bottom contents__________________ */
    /* _______________________end affichage principal_____________ */
    /* ____________________________footer_________________________ */
    .footer{
        background-color: RGB(170, 123, 81);
        text-align: center;
    }
    #menu, #menu a{
        font-size: 24px;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center; 
        color: #fff;
    } 
    #menu>li {
        display: block;
        list-style: none;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 10%;

    }
    #menu li{
        list-style: none;
    }
    #menu a:hover{
        color: #000;
        background-color: #fff;
    }
    nav ul ul {
        
        visibility: hidden;
        position: absolute;
        background-color: RGB(170, 123, 81);
        text-align: center;
        z-index: 1000;

    }
    nav ul ul  li{
        padding:0px 0px 0px 0px;
        width: 50%;

    }
    nav ul li:hover ul {
        visibility: visible;
    }
    .supp{
        margin-top: 2%;
        display: block;
        max-width: 100%;
        margin-left: 1%;
        margin-right: 0%;
    }
    .endl{
        margin-bottom: 3%;
    }
    .endr{
        margin-left: 1%;
        margin-bottom: 5%;

    }
    #mention{
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center;
    
    }
    #Mocha{
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center;    
    }
}
@media screen and (max-width:700px){
    body, aside, .menu, footer, p {
        max-width: 100%;
        background-color: #fff;
        margin: auto;
        padding: auto;
        border: auto;
        font-size: 100%;
        vertical-align: baseline;
        text-decoration: none;
    }
 
    .headerbanner, .menu, .container, a{
        padding: 0;
        margin: 0;
        border: 0;
    }
    /* _________________end fonctionnalitées fondamentales_____ */
    /* _______________________head banner_____________________ */
    .banner{
        display: block;
        background-color: none;
    }
    .headerbanner{
        background-color: RGB(170, 123, 81);
        max-width: 100%;
        text-align: center;

    }
    .remise{
        background-color: RGB(170, 123, 81);
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 700;

    }
    .menuheader{
        background-color: RGB(85, 48, 25);
        margin-top: 3%;
        text-align: center;

    }
    #compte{
        background-color: RGB(85, 48, 25);
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    .fas{
        color: #fff;
    }
    #panier{
        background-color: RGB(85, 48, 25);
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    /* ____________________end head banner_____________________________ */
    /* ____________________affichage principal_________________________ */
 
    .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-width: 100%;
    }
    .container{
        background-color: #fff;
        margin-top: 0%;
        max-width: 100%;

    }
    /* ___________________________menu_________________________________ */

    .menu{
        background-color: RGB(170, 123, 81);
        text-align: center;
        max-width: 100%;
    }
    #nav{
        position: relative;
        background-color: RGB(170, 123, 81);
    }
    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type{
        display: block;
        background-color: RGB(170, 123, 81);
    }     
    #nav a{
        font-size: 24px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    #nav > ul{
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
    #nav:target > ul{
        display: block;
    }
    #nav > ul > li{
        width: 100%;
        float: none;
    }   
    #nav li ul
    {
        position: static;
    }
    /* _______________________end menu____________________________ */
    /* _______________________contenu principal___________________ */
    .main{
        display: block;
        max-width: 85%;
        margin-left: 6%;
        margin-right: 6%;
        border-bottom: 1px #DCDCDC solid;
    }
    .left{
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: 8%;
    }
    .right{
        margin-top: 3%;
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .torrefie{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;

    }
    .tasse{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .grain{
        text-align: center;
        font-size: 27px;
        color: #000;
        font-family: Roboto-Slab;
        font-weight: 700;
        margin-top: 1%;
    }
    /* _______________________end contenue principal_______________ */
    /* __________________________middle contents___________________ */
    .middle{
        display: block;
        max-width: 85%;
        border-bottom: 1px #DCDCDC solid;
    }
    .leftmiddle{
        max-width: 55%;
        margin-top: 8%;
        margin-bottom: 0%;
    }
    .rightmiddle{

        margin-top: 3%;
        margin-bottom: 0%;
    }
    .top{
        font-size: 55px;
        color: #000000;
        font-family: "Roboto Slab";
        font-weight: 700;
        text-align: center;
    }
    .textbottom{
        margin-right: 9%;
        margin-bottom: 2%;
        font-size: 67px;
        color: #aa7b51;
        font-family: "Roboto Slab";
        font-weight: 700;
        text-align: center;
    }
    .textop{
        width: 428px;
        height: 214px;
        font-size: 18px;
        color: #000000;
        font-family: Open-Sans;
        font-weight: 400;
        text-align: center;
    }
    #decouvrez{
        background-color: RGB(170, 123, 81);
        color: #fff;
        font-size: 20px;
        font-family: Roboto-Slab;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4%;
    }
    /* _______________________end middle contents_________________ */
    /* _________________________bottom contents___________________ */
    .bottom{
        margin-top: 2%;
        display: block;
        max-width: 85%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 0%;
    }
    .leftbottom{
        margin-bottom: 0%;
        margin-left: 8%;
    }
    .middlebottom{
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .rightbottom{
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .imgbottom{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .parabottom{
        font-size: 19px;
        color: #000000;
        font-family: Roboto-Slab;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0%;
    }
    /* _______________________end bottom contents__________________ */
    /* _______________________end affichage principal_____________ */
    /* ____________________________footer_________________________ */
    .footer{
        background-color: RGB(170, 123, 81);
        text-align: center;
    }
    #menu, #menu a{
        background-color: RGB(170, 123, 81);
        font-size: 24px;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center; 
        color: #fff;
    } 
    #menu>li {
        display: block;
        list-style: none;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 10%;

    }
    #menu li{
        list-style: none;
    }
    #menu a:hover{
        color: #000;
        background-color: #fff;
    }
    nav ul ul {
        
        visibility: hidden;
        position: absolute;
        background-color: RGB(170, 123, 81);
        text-align: center;
        z-index: 1000;

    }
    nav ul ul  li{
        padding:0px 0px 0px 0px;
        width: 50%;

    }
    nav ul li:hover ul {
        visibility: visible;
    }
    .supp{
        margin-top: 2%;
        display: block;
        max-width: 100%;
        margin-left: 1%;
        margin-right: 0%;
    }
    .endl{
        margin-bottom: 3%;
    }
    .endr{
        margin-left: 1%;
        margin-bottom: 5%;

    }
    #mention{
        background-color: RGB(170, 123, 81);
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center;
    
    }
    #Mocha{
        background-color: RGB(170, 123, 81);
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center;    
    }
}
@media screen and (max-width:480px){
    aside, .menu, footer, p {
        max-width: 100%;
        background-color: #fff;
        margin: auto;
        padding: auto;
        border: auto;
        font-size: 100%;
        vertical-align: baseline;
        text-decoration: none;
    }
 
    .headerbanner, .container, .menu, a{
        padding: 0;
        margin: 0;
        border: 0;
    }
    /* _________________end fonctionnalitées fondamentales_____ */
    /* _______________________head banner_____________________ */
    .banner{
        display: block;
        background-color: none;
    }
    .headerbanner{
        background-color: RGB(170, 123, 81);
        max-width: 100%;
        text-align: center;

    }
    .remise{
        background-color: RGB(170, 123, 81);
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 700;

    }
    .menuheader{
        background-color: RGB(85, 48, 25);
        margin-top: 3%;
        text-align: center;

    }
    #compte{
        background-color: RGB(85, 48, 25);
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    .fas{
        color: #fff;
    }
    #panier{
        background-color: RGB(85, 48, 25);
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    /* ____________________end head banner_____________________________ */
    /* ____________________affichage principal_________________________ */
 
    .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-width: 100%;
    }
    .container{
        background-color: #fff;
        margin-top: 0%;
        max-width: 100%;

    }
    /* ___________________________menu_________________________________ */

    .menu{
        background-color: RGB(170, 123, 81);
        margin-bottom: 3%;
        max-width: 100%;
        display: block;
    }
    #nav{
        position: relative;
    }
    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type{
        display: block;
        background-color: RGB(170, 123, 81);
    }     
    #nav a{
        font-size: 24px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    #nav > ul{
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
    #nav:target > ul{
        display: block;
    }
    #nav > ul > li{
        width: 100%;
        float: none;
    }   
    #nav li ul
    {
        position: static;
    }
    /* _______________________end menu____________________________ */
    /* _______________________contenu principal___________________ */
    .main{
        display: block;
        max-width: 80%;
        margin-left: 6%;
        margin-right: 6%;
        border-bottom: 1px #DCDCDC solid;
    }
    .left{
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: 8%;
    }
    .right{
        margin-top: 3%;
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .torrefie{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;

    }
    .tasse{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .grain{
        text-align: center;
        font-size: 27px;
        color: #000;
        font-family: Roboto-Slab;
        font-weight: 700;
        margin-top: 1%;
    }
    /* _______________________end contenue principal_______________ */
    /* __________________________middle contents___________________ */
    .middle{
        display: block;
        max-width: 80%;
        border-bottom: 1px #DCDCDC solid;
    }
    .leftmiddle{
        max-width: 50%;
        margin-top: 8%;
        margin-bottom: 0%;
    }
    .rightmiddle{

        margin-top: 3%;
        margin-bottom: 0%;
    }
    .top{
        font-size: 55px;
        color: #000000;
        font-family: "Roboto Slab";
        font-weight: 700;
        text-align: center;
    }
    .textbottom{
        margin-bottom: 2%;
        font-size: 67px;
        color: #aa7b51;
        font-family: "Roboto Slab";
        font-weight: 700;
        text-align: center;
    }
    .textop{
        width: 428px;
        height: 214px;
        font-size: 18px;
        color: #000000;
        font-family: Open-Sans;
        font-weight: 400;
        text-align: center;
    }
    #decouvrez{
        background-color: RGB(170, 123, 81);
        color: #fff;
        font-size: 20px;
        font-family: Roboto-Slab;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4%;
    }
    /* _______________________end middle contents_________________ */
    /* _________________________bottom contents___________________ */
    .bottom{
        margin-top: 2%;
        display: block;
        max-width: 80%;
        margin-bottom: 0%;
    }
    .leftbottom{
        margin-bottom: 0%;
    }
    .middlebottom{
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .rightbottom{
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .imgbottom{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .parabottom{
        font-size: 19px;
        color: #000000;
        font-family: Roboto-Slab;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0%;
    }
    /* _______________________end bottom contents__________________ */
    /* _______________________end affichage principal_____________ */
    /* ____________________________footer_________________________ */
    .footer{
        background-color: RGB(170, 123, 81);
        text-align: center;
    }
    #menu, #menu a{
        background-color: RGB(170, 123, 81);
        font-size: 24px;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center; 
        color: #fff;
    } 
    #menu>li {
        display: block;
        list-style: none;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 10%;

    }
    #menu li{
        list-style: none;
    }
    #menu a:hover{
        color: #000;
        background-color: #fff;
    }
    nav ul ul {
        
        visibility: hidden;
        position: absolute;
        background-color: RGB(170, 123, 81);
        text-align: center;
        z-index: 1000;

    }
    nav ul ul  li{
        padding:0px 0px 0px 0px;
        width: 50%;

    }
    nav ul li:hover ul {
        visibility: visible;
    }
    .supp{
        margin-top: 2%;
        display: block;
        max-width: 100%;
        margin-left: 1%;
        margin-right: 0%;
    }
    .endl{
        margin-bottom: 3%;
    }
    .endr{
        margin-left: 1%;
        margin-bottom: 5%;

    }
    #mention{
        background-color: RGB(170, 123, 81);
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center;
    
    }
    #Mocha{
        background-color: RGB(170, 123, 81);
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center;    
    }
}
@media screen and (max-width:320px){
    .menu, p, {
        max-width: 100%;
        background-color: #fff;
        margin: auto;
        padding: auto;
        border: auto;
        font-size: 100%;
        vertical-align: baseline;
        text-decoration: none;
    }
 
    .headerbanner, .container, .menu, footer, aside, a{
        padding: 0;
        margin: 0;
        border: 0;
    }
    /* _________________end fonctionnalitées fondamentales_____ */
    /* _______________________head banner_____________________ */
    .banner{
        display: block;
        background-color: none;
    }
    .headerbanner{
        background-color: RGB(170, 123, 81);
        max-width: 100%;
        text-align: center;

    }
    .remise{
        background-color: RGB(170, 123, 81);
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 700;

    }
    .menuheader{
        background-color: RGB(85, 48, 25);
        margin-top: 3%;
        text-align: center;

    }
    #compte{
        background-color: RGB(85, 48, 25);
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    .fas{
        color: #fff;
    }
    #panier{
        background-color: RGB(85, 48, 25);
        font-size: 16px;
        color: #fff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    /* ____________________end head banner_____________________________ */
    /* ____________________affichage principal_________________________ */
 
    .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-width: 100%;
    }
    .container{
        background-color: #fff;
        margin-top: 0%;
        max-width: 100%;

    }
    /* ___________________________menu_________________________________ */

    .menu{
        background-color: RGB(170, 123, 81);
        margin-bottom: 3%;
        max-width: 100%;
        display: block;
    }
    #nav{
        position: relative;
    }
    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type{
        display: block;
        background-color: RGB(170, 123, 81);
    }     
    #nav a{
        font-size: 24px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
    }
    #nav > ul{
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
    #nav:target > ul{
        display: block;
    }
    #nav > ul > li{
        width: 100%;
        float: none;
    }   
    #nav li ul
    {
        position: static;
    }
    /* _______________________end menu____________________________ */
    /* _______________________contenu principal___________________ */
    .main{
        display: block;
        max-width: 80%;
        margin-left: 6%;
        margin-right: 6%;
        border-bottom: 1px #DCDCDC solid;
    }
    .left{
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: 8%;
    }
    .right{
        margin-top: 3%;
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .torrefie{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;

    }
    .tasse{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .grain{
        text-align: center;
        font-size: 27px;
        color: #000;
        font-family: Roboto-Slab;
        font-weight: 700;
        margin-top: 1%;
    }
    /* _______________________end contenue principal_______________ */
    /* __________________________middle contents___________________ */
    .middle{
        display: block;
        max-width: 80%;
        border-bottom: 1px #DCDCDC solid;
    }
    .leftmiddle{
        max-width: 40%;
        margin-top: 8%;
        margin-bottom: 0%;
    }
    .rightmiddle{
        margin-left: 15%;
        margin-top: 3%;
        margin-bottom: 0%;
    }
    .top{
        margin-left: 58%;
        font-size: 40px;
        color: #000000;
        font-family: "Roboto Slab";
        font-weight: 700;
        text-align: center;
    }
    .textbottom{
        margin-bottom: 2%;
        font-size: 52px;
        color: #aa7b51;
        font-family: "Roboto Slab";
        font-weight: 700;
        text-align: center;
    }
    .textop{
        width: 428px;
        height: 214px;
        font-size: 18px;
        color: #000000;
        font-family: Open-Sans;
        font-weight: 400;
        text-align: center;
    }
    #decouvrez{
        background-color: RGB(170, 123, 81);
        color: #fff;
        font-size: 20px;
        font-family: Roboto-Slab;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4%;
    }
    /* _______________________end middle contents_________________ */
    /* _________________________bottom contents___________________ */
    .bottom{
        margin-top: 2%;
        display: block;
        max-width: 80%;
        margin-bottom: 0%;
        margin-left: 10%;
    }
    .leftbottom{
        margin-bottom: 0%;
    }
    .middlebottom{
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .rightbottom{
        margin-left: 8%;
        margin-bottom: 0%;
    }
    .imgbottom{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .parabottom{
        font-size: 19px;
        color: #000000;
        font-family: Roboto-Slab;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0%;
    }
    /* _______________________end bottom contents__________________ */
    /* _______________________end affichage principal_____________ */
    /* ____________________________footer_________________________ */
    .footer{
        background-color: RGB(170, 123, 81);
        text-align: center;
    }
    #menu, #menu a{
        background-color: RGB(170, 123, 81);
        font-size: 24px;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center; 
        color: #fff;
    } 
    #menu>li {
        display: block;
        list-style: none;
        margin-top: 1%;
        margin-bottom: 1%;
        /* margin-right: 10%; */

    }
    #menu li{
        list-style: none;
    }
    #menu a:hover{
        color: #000;
        background-color: #fff;
    }
    nav ul ul {
        
        visibility: hidden;
        position: absolute;
        background-color: RGB(170, 123, 81);
        text-align: center;
        z-index: 1000;

    }
    nav ul ul  li{
        padding:0px 0px 0px 0px;
        width: 50%;

    }
    nav ul li:hover ul {
        visibility: visible;
    }
    .supp{
        margin-top: 2%;
        display: block;
        max-width: 100%;
        margin-left: 1%;
        margin-right: 0%;
    }
    .endl{
        margin-bottom: 3%;
    }
    .endr{
        margin-left: 1%;
        margin-bottom: 5%;

    }
    #mention{
        background-color: RGB(170, 123, 81);
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center;
    
    }
    #Mocha{
        background-color: RGB(170, 123, 81);
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Slab;
        font-weight: 400;
        text-align: center;    
    }

} 
